@import "tailwindcss";

@keyframes scrollUpSmooth {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.marquee-vertical {
  animation: scrollUpSmooth 30s linear infinite;
}
